// Ionicons Variables
// --------------------------
$ionicons-font-path: "/fonts/ionic" !default;
$ionicons-font-family: "Ionicons" !default;
$ionicons-version: "2.0.1" !default;
$ionicons-prefix: ion- !default;

// Variables
// --------------------------

$fa-font-path:        "/fonts/font-awesome" !default;
$fa-font-size-base:   14px !default;
$fa-css-prefix:       fa !default;
$fa-version:          "4.7.0" !default;

@font-face {
  font-family: $ionicons-font-family;
  src:url("#{$ionicons-font-path}/ionicons.eot?v=#{$ionicons-version}");
  src:url("#{$ionicons-font-path}/ionicons.eot?v=#{$ionicons-version}#iefix") format("embedded-opentype"),
  url("#{$ionicons-font-path}/ionicons.ttf?v=#{$ionicons-version}") format("truetype"),
  url("#{$ionicons-font-path}/ionicons.woff?v=#{$ionicons-version}") format("woff"),
  url("#{$ionicons-font-path}/ionicons.svg?v=#{$ionicons-version}#Ionicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('#{$fa-font-path}/fontawesome-webfont.eot?v=#{$fa-version}');
  src: url('#{$fa-font-path}/fontawesome-webfont.eot?#iefix&v=#{$fa-version}') format('embedded-opentype'),
  url('#{$fa-font-path}/fontawesome-webfont.woff2?v=#{$fa-version}') format('woff2'),
  url('#{$fa-font-path}/fontawesome-webfont.woff?v=#{$fa-version}') format('woff'),
  url('#{$fa-font-path}/fontawesome-webfont.ttf?v=#{$fa-version}') format('truetype'),
  url('#{$fa-font-path}/fontawesome-webfont.svg?v=#{$fa-version}#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

$ionicon-var-alert: "\f101";
$ionicon-var-alert-circled: "\f100";
$ionicon-var-android-add: "\f2c7";
$ionicon-var-android-add-circle: "\f359";
$ionicon-var-android-alarm-clock: "\f35a";
$ionicon-var-android-alert: "\f35b";
$ionicon-var-android-apps: "\f35c";
$ionicon-var-android-archive: "\f2c9";
$ionicon-var-android-arrow-back: "\f2ca";
$ionicon-var-android-arrow-down: "\f35d";
$ionicon-var-android-arrow-dropdown: "\f35f";
$ionicon-var-android-arrow-dropdown-circle: "\f35e";
$ionicon-var-android-arrow-dropleft: "\f361";
$ionicon-var-android-arrow-dropleft-circle: "\f360";
$ionicon-var-android-arrow-dropright: "\f363";
$ionicon-var-android-arrow-dropright-circle: "\f362";
$ionicon-var-android-arrow-dropup: "\f365";
$ionicon-var-android-arrow-dropup-circle: "\f364";
$ionicon-var-android-arrow-forward: "\f30f";
$ionicon-var-android-arrow-up: "\f366";
$ionicon-var-android-attach: "\f367";
$ionicon-var-android-bar: "\f368";
$ionicon-var-android-bicycle: "\f369";
$ionicon-var-android-boat: "\f36a";
$ionicon-var-android-bookmark: "\f36b";
$ionicon-var-android-bulb: "\f36c";
$ionicon-var-android-bus: "\f36d";
$ionicon-var-android-calendar: "\f2d1";
$ionicon-var-android-call: "\f2d2";
$ionicon-var-android-camera: "\f2d3";
$ionicon-var-android-cancel: "\f36e";
$ionicon-var-android-car: "\f36f";
$ionicon-var-android-cart: "\f370";
$ionicon-var-android-chat: "\f2d4";
$ionicon-var-android-checkbox: "\f374";
$ionicon-var-android-checkbox-blank: "\f371";
$ionicon-var-android-checkbox-outline: "\f373";
$ionicon-var-android-checkbox-outline-blank: "\f372";
$ionicon-var-android-checkmark-circle: "\f375";
$ionicon-var-android-clipboard: "\f376";
$ionicon-var-android-close: "\f2d7";
$ionicon-var-android-cloud: "\f37a";
$ionicon-var-android-cloud-circle: "\f377";
$ionicon-var-android-cloud-done: "\f378";
$ionicon-var-android-cloud-outline: "\f379";
$ionicon-var-android-color-palette: "\f37b";
$ionicon-var-android-compass: "\f37c";
$ionicon-var-android-contact: "\f2d8";
$ionicon-var-android-contacts: "\f2d9";
$ionicon-var-android-contract: "\f37d";
$ionicon-var-android-create: "\f37e";
$ionicon-var-android-delete: "\f37f";
$ionicon-var-android-desktop: "\f380";
$ionicon-var-android-document: "\f381";
$ionicon-var-android-done: "\f383";
$ionicon-var-android-done-all: "\f382";
$ionicon-var-android-download: "\f2dd";
$ionicon-var-android-drafts: "\f384";
$ionicon-var-android-exit: "\f385";
$ionicon-var-android-expand: "\f386";
$ionicon-var-android-favorite: "\f388";
$ionicon-var-android-favorite-outline: "\f387";
$ionicon-var-android-film: "\f389";
$ionicon-var-android-folder: "\f2e0";
$ionicon-var-android-folder-open: "\f38a";
$ionicon-var-android-funnel: "\f38b";
$ionicon-var-android-globe: "\f38c";
$ionicon-var-android-hand: "\f2e3";
$ionicon-var-android-hangout: "\f38d";
$ionicon-var-android-happy: "\f38e";
$ionicon-var-android-home: "\f38f";
$ionicon-var-android-image: "\f2e4";
$ionicon-var-android-laptop: "\f390";
$ionicon-var-android-list: "\f391";
$ionicon-var-android-locate: "\f2e9";
$ionicon-var-android-lock: "\f392";
$ionicon-var-android-mail: "\f2eb";
$ionicon-var-android-map: "\f393";
$ionicon-var-android-menu: "\f394";
$ionicon-var-android-microphone: "\f2ec";
$ionicon-var-android-microphone-off: "\f395";
$ionicon-var-android-more-horizontal: "\f396";
$ionicon-var-android-more-vertical: "\f397";
$ionicon-var-android-navigate: "\f398";
$ionicon-var-android-notifications: "\f39b";
$ionicon-var-android-notifications-none: "\f399";
$ionicon-var-android-notifications-off: "\f39a";
$ionicon-var-android-open: "\f39c";
$ionicon-var-android-options: "\f39d";
$ionicon-var-android-people: "\f39e";
$ionicon-var-android-person: "\f3a0";
$ionicon-var-android-person-add: "\f39f";
$ionicon-var-android-phone-landscape: "\f3a1";
$ionicon-var-android-phone-portrait: "\f3a2";
$ionicon-var-android-pin: "\f3a3";
$ionicon-var-android-plane: "\f3a4";
$ionicon-var-android-playstore: "\f2f0";
$ionicon-var-android-print: "\f3a5";
$ionicon-var-android-radio-button-off: "\f3a6";
$ionicon-var-android-radio-button-on: "\f3a7";
$ionicon-var-android-refresh: "\f3a8";
$ionicon-var-android-remove: "\f2f4";
$ionicon-var-android-remove-circle: "\f3a9";
$ionicon-var-android-restaurant: "\f3aa";
$ionicon-var-android-sad: "\f3ab";
$ionicon-var-android-search: "\f2f5";
$ionicon-var-android-send: "\f2f6";
$ionicon-var-android-settings: "\f2f7";
$ionicon-var-android-share: "\f2f8";
$ionicon-var-android-share-alt: "\f3ac";
$ionicon-var-android-star: "\f2fc";
$ionicon-var-android-star-half: "\f3ad";
$ionicon-var-android-star-outline: "\f3ae";
$ionicon-var-android-stopwatch: "\f2fd";
$ionicon-var-android-subway: "\f3af";
$ionicon-var-android-sunny: "\f3b0";
$ionicon-var-android-sync: "\f3b1";
$ionicon-var-android-textsms: "\f3b2";
$ionicon-var-android-time: "\f3b3";
$ionicon-var-android-train: "\f3b4";
$ionicon-var-android-unlock: "\f3b5";
$ionicon-var-android-upload: "\f3b6";
$ionicon-var-android-volume-down: "\f3b7";
$ionicon-var-android-volume-mute: "\f3b8";
$ionicon-var-android-volume-off: "\f3b9";
$ionicon-var-android-volume-up: "\f3ba";
$ionicon-var-android-walk: "\f3bb";
$ionicon-var-android-warning: "\f3bc";
$ionicon-var-android-watch: "\f3bd";
$ionicon-var-android-wifi: "\f305";
$ionicon-var-aperture: "\f313";
$ionicon-var-archive: "\f102";
$ionicon-var-arrow-down-a: "\f103";
$ionicon-var-arrow-down-b: "\f104";
$ionicon-var-arrow-down-c: "\f105";
$ionicon-var-arrow-expand: "\f25e";
$ionicon-var-arrow-graph-down-left: "\f25f";
$ionicon-var-arrow-graph-down-right: "\f260";
$ionicon-var-arrow-graph-up-left: "\f261";
$ionicon-var-arrow-graph-up-right: "\f262";
$ionicon-var-arrow-left-a: "\f106";
$ionicon-var-arrow-left-b: "\f107";
$ionicon-var-arrow-left-c: "\f108";
$ionicon-var-arrow-move: "\f263";
$ionicon-var-arrow-resize: "\f264";
$ionicon-var-arrow-return-left: "\f265";
$ionicon-var-arrow-return-right: "\f266";
$ionicon-var-arrow-right-a: "\f109";
$ionicon-var-arrow-right-b: "\f10a";
$ionicon-var-arrow-right-c: "\f10b";
$ionicon-var-arrow-shrink: "\f267";
$ionicon-var-arrow-swap: "\f268";
$ionicon-var-arrow-up-a: "\f10c";
$ionicon-var-arrow-up-b: "\f10d";
$ionicon-var-arrow-up-c: "\f10e";
$ionicon-var-asterisk: "\f314";
$ionicon-var-at: "\f10f";
$ionicon-var-backspace: "\f3bf";
$ionicon-var-backspace-outline: "\f3be";
$ionicon-var-bag: "\f110";
$ionicon-var-battery-charging: "\f111";
$ionicon-var-battery-empty: "\f112";
$ionicon-var-battery-full: "\f113";
$ionicon-var-battery-half: "\f114";
$ionicon-var-battery-low: "\f115";
$ionicon-var-beaker: "\f269";
$ionicon-var-beer: "\f26a";
$ionicon-var-bluetooth: "\f116";
$ionicon-var-bonfire: "\f315";
$ionicon-var-bookmark: "\f26b";
$ionicon-var-bowtie: "\f3c0";
$ionicon-var-briefcase: "\f26c";
$ionicon-var-bug: "\f2be";
$ionicon-var-calculator: "\f26d";
$ionicon-var-calendar: "\f117";
$ionicon-var-camera: "\f118";
$ionicon-var-card: "\f119";
$ionicon-var-cash: "\f316";
$ionicon-var-chatbox: "\f11b";
$ionicon-var-chatbox-working: "\f11a";
$ionicon-var-chatboxes: "\f11c";
$ionicon-var-chatbubble: "\f11e";
$ionicon-var-chatbubble-working: "\f11d";
$ionicon-var-chatbubbles: "\f11f";
$ionicon-var-checkmark: "\f122";
$ionicon-var-checkmark-circled: "\f120";
$ionicon-var-checkmark-round: "\f121";
$ionicon-var-chevron-down: "\f123";
$ionicon-var-chevron-left: "\f124";
$ionicon-var-chevron-right: "\f125";
$ionicon-var-chevron-up: "\f126";
$ionicon-var-clipboard: "\f127";
$ionicon-var-clock: "\f26e";
$ionicon-var-close: "\f12a";
$ionicon-var-close-circled: "\f128";
$ionicon-var-close-round: "\f129";
$ionicon-var-closed-captioning: "\f317";
$ionicon-var-cloud: "\f12b";
$ionicon-var-code: "\f271";
$ionicon-var-code-download: "\f26f";
$ionicon-var-code-working: "\f270";
$ionicon-var-coffee: "\f272";
$ionicon-var-compass: "\f273";
$ionicon-var-compose: "\f12c";
$ionicon-var-connection-bars: "\f274";
$ionicon-var-contrast: "\f275";
$ionicon-var-crop: "\f3c1";
$ionicon-var-cube: "\f318";
$ionicon-var-disc: "\f12d";
$ionicon-var-document: "\f12f";
$ionicon-var-document-text: "\f12e";
$ionicon-var-drag: "\f130";
$ionicon-var-earth: "\f276";
$ionicon-var-easel: "\f3c2";
$ionicon-var-edit: "\f2bf";
$ionicon-var-egg: "\f277";
$ionicon-var-eject: "\f131";
$ionicon-var-email: "\f132";
$ionicon-var-email-unread: "\f3c3";
$ionicon-var-erlenmeyer-flask: "\f3c5";
$ionicon-var-erlenmeyer-flask-bubbles: "\f3c4";
$ionicon-var-eye: "\f133";
$ionicon-var-eye-disabled: "\f306";
$ionicon-var-female: "\f278";
$ionicon-var-filing: "\f134";
$ionicon-var-film-marker: "\f135";
$ionicon-var-fireball: "\f319";
$ionicon-var-flag: "\f279";
$ionicon-var-flame: "\f31a";
$ionicon-var-flash: "\f137";
$ionicon-var-flash-off: "\f136";
$ionicon-var-folder: "\f139";
$ionicon-var-fork: "\f27a";
$ionicon-var-fork-repo: "\f2c0";
$ionicon-var-forward: "\f13a";
$ionicon-var-funnel: "\f31b";
$ionicon-var-gear-a: "\f13d";
$ionicon-var-gear-b: "\f13e";
$ionicon-var-grid: "\f13f";
$ionicon-var-hammer: "\f27b";
$ionicon-var-happy: "\f31c";
$ionicon-var-happy-outline: "\f3c6";
$ionicon-var-headphone: "\f140";
$ionicon-var-heart: "\f141";
$ionicon-var-heart-broken: "\f31d";
$ionicon-var-help: "\f143";
$ionicon-var-help-buoy: "\f27c";
$ionicon-var-help-circled: "\f142";
$ionicon-var-home: "\f144";
$ionicon-var-icecream: "\f27d";
$ionicon-var-image: "\f147";
$ionicon-var-images: "\f148";
$ionicon-var-information: "\f14a";
$ionicon-var-information-circled: "\f149";
$ionicon-var-ionic: "\f14b";
$ionicon-var-ios-alarm: "\f3c8";
$ionicon-var-ios-alarm-outline: "\f3c7";
$ionicon-var-ios-albums: "\f3ca";
$ionicon-var-ios-albums-outline: "\f3c9";
$ionicon-var-ios-americanfootball: "\f3cc";
$ionicon-var-ios-americanfootball-outline: "\f3cb";
$ionicon-var-ios-analytics: "\f3ce";
$ionicon-var-ios-analytics-outline: "\f3cd";
$ionicon-var-ios-arrow-back: "\f3cf";
$ionicon-var-ios-arrow-down: "\f3d0";
$ionicon-var-ios-arrow-forward: "\f3d1";
$ionicon-var-ios-arrow-left: "\f3d2";
$ionicon-var-ios-arrow-right: "\f3d3";
$ionicon-var-ios-arrow-thin-down: "\f3d4";
$ionicon-var-ios-arrow-thin-left: "\f3d5";
$ionicon-var-ios-arrow-thin-right: "\f3d6";
$ionicon-var-ios-arrow-thin-up: "\f3d7";
$ionicon-var-ios-arrow-up: "\f3d8";
$ionicon-var-ios-at: "\f3da";
$ionicon-var-ios-at-outline: "\f3d9";
$ionicon-var-ios-barcode: "\f3dc";
$ionicon-var-ios-barcode-outline: "\f3db";
$ionicon-var-ios-baseball: "\f3de";
$ionicon-var-ios-baseball-outline: "\f3dd";
$ionicon-var-ios-basketball: "\f3e0";
$ionicon-var-ios-basketball-outline: "\f3df";
$ionicon-var-ios-bell: "\f3e2";
$ionicon-var-ios-bell-outline: "\f3e1";
$ionicon-var-ios-body: "\f3e4";
$ionicon-var-ios-body-outline: "\f3e3";
$ionicon-var-ios-bolt: "\f3e6";
$ionicon-var-ios-bolt-outline: "\f3e5";
$ionicon-var-ios-book: "\f3e8";
$ionicon-var-ios-book-outline: "\f3e7";
$ionicon-var-ios-bookmarks: "\f3ea";
$ionicon-var-ios-bookmarks-outline: "\f3e9";
$ionicon-var-ios-box: "\f3ec";
$ionicon-var-ios-box-outline: "\f3eb";
$ionicon-var-ios-briefcase: "\f3ee";
$ionicon-var-ios-briefcase-outline: "\f3ed";
$ionicon-var-ios-browsers: "\f3f0";
$ionicon-var-ios-browsers-outline: "\f3ef";
$ionicon-var-ios-calculator: "\f3f2";
$ionicon-var-ios-calculator-outline: "\f3f1";
$ionicon-var-ios-calendar: "\f3f4";
$ionicon-var-ios-calendar-outline: "\f3f3";
$ionicon-var-ios-camera: "\f3f6";
$ionicon-var-ios-camera-outline: "\f3f5";
$ionicon-var-ios-cart: "\f3f8";
$ionicon-var-ios-cart-outline: "\f3f7";
$ionicon-var-ios-chatboxes: "\f3fa";
$ionicon-var-ios-chatboxes-outline: "\f3f9";
$ionicon-var-ios-chatbubble: "\f3fc";
$ionicon-var-ios-chatbubble-outline: "\f3fb";
$ionicon-var-ios-checkmark: "\f3ff";
$ionicon-var-ios-checkmark-empty: "\f3fd";
$ionicon-var-ios-checkmark-outline: "\f3fe";
$ionicon-var-ios-circle-filled: "\f400";
$ionicon-var-ios-circle-outline: "\f401";
$ionicon-var-ios-clock: "\f403";
$ionicon-var-ios-clock-outline: "\f402";
$ionicon-var-ios-close: "\f406";
$ionicon-var-ios-close-empty: "\f404";
$ionicon-var-ios-close-outline: "\f405";
$ionicon-var-ios-cloud: "\f40c";
$ionicon-var-ios-cloud-download: "\f408";
$ionicon-var-ios-cloud-download-outline: "\f407";
$ionicon-var-ios-cloud-outline: "\f409";
$ionicon-var-ios-cloud-upload: "\f40b";
$ionicon-var-ios-cloud-upload-outline: "\f40a";
$ionicon-var-ios-cloudy: "\f410";
$ionicon-var-ios-cloudy-night: "\f40e";
$ionicon-var-ios-cloudy-night-outline: "\f40d";
$ionicon-var-ios-cloudy-outline: "\f40f";
$ionicon-var-ios-cog: "\f412";
$ionicon-var-ios-cog-outline: "\f411";
$ionicon-var-ios-color-filter: "\f414";
$ionicon-var-ios-color-filter-outline: "\f413";
$ionicon-var-ios-color-wand: "\f416";
$ionicon-var-ios-color-wand-outline: "\f415";
$ionicon-var-ios-compose: "\f418";
$ionicon-var-ios-compose-outline: "\f417";
$ionicon-var-ios-contact: "\f41a";
$ionicon-var-ios-contact-outline: "\f419";
$ionicon-var-ios-copy: "\f41c";
$ionicon-var-ios-copy-outline: "\f41b";
$ionicon-var-ios-crop: "\f41e";
$ionicon-var-ios-crop-strong: "\f41d";
$ionicon-var-ios-download: "\f420";
$ionicon-var-ios-download-outline: "\f41f";
$ionicon-var-ios-drag: "\f421";
$ionicon-var-ios-email: "\f423";
$ionicon-var-ios-email-outline: "\f422";
$ionicon-var-ios-eye: "\f425";
$ionicon-var-ios-eye-outline: "\f424";
$ionicon-var-ios-fastforward: "\f427";
$ionicon-var-ios-fastforward-outline: "\f426";
$ionicon-var-ios-filing: "\f429";
$ionicon-var-ios-filing-outline: "\f428";
$ionicon-var-ios-film: "\f42b";
$ionicon-var-ios-film-outline: "\f42a";
$ionicon-var-ios-flag: "\f42d";
$ionicon-var-ios-flag-outline: "\f42c";
$ionicon-var-ios-flame: "\f42f";
$ionicon-var-ios-flame-outline: "\f42e";
$ionicon-var-ios-flask: "\f431";
$ionicon-var-ios-flask-outline: "\f430";
$ionicon-var-ios-flower: "\f433";
$ionicon-var-ios-flower-outline: "\f432";
$ionicon-var-ios-folder: "\f435";
$ionicon-var-ios-folder-outline: "\f434";
$ionicon-var-ios-football: "\f437";
$ionicon-var-ios-football-outline: "\f436";
$ionicon-var-ios-game-controller-a: "\f439";
$ionicon-var-ios-game-controller-a-outline: "\f438";
$ionicon-var-ios-game-controller-b: "\f43b";
$ionicon-var-ios-game-controller-b-outline: "\f43a";
$ionicon-var-ios-gear: "\f43d";
$ionicon-var-ios-gear-outline: "\f43c";
$ionicon-var-ios-glasses: "\f43f";
$ionicon-var-ios-glasses-outline: "\f43e";
$ionicon-var-ios-grid-view: "\f441";
$ionicon-var-ios-grid-view-outline: "\f440";
$ionicon-var-ios-heart: "\f443";
$ionicon-var-ios-heart-outline: "\f442";
$ionicon-var-ios-help: "\f446";
$ionicon-var-ios-help-empty: "\f444";
$ionicon-var-ios-help-outline: "\f445";
$ionicon-var-ios-home: "\f448";
$ionicon-var-ios-home-outline: "\f447";
$ionicon-var-ios-infinite: "\f44a";
$ionicon-var-ios-infinite-outline: "\f449";
$ionicon-var-ios-information: "\f44d";
$ionicon-var-ios-information-empty: "\f44b";
$ionicon-var-ios-information-outline: "\f44c";
$ionicon-var-ios-ionic-outline: "\f44e";
$ionicon-var-ios-keypad: "\f450";
$ionicon-var-ios-keypad-outline: "\f44f";
$ionicon-var-ios-lightbulb: "\f452";
$ionicon-var-ios-lightbulb-outline: "\f451";
$ionicon-var-ios-list: "\f454";
$ionicon-var-ios-list-outline: "\f453";
$ionicon-var-ios-location: "\f456";
$ionicon-var-ios-location-outline: "\f455";
$ionicon-var-ios-locked: "\f458";
$ionicon-var-ios-locked-outline: "\f457";
$ionicon-var-ios-loop: "\f45a";
$ionicon-var-ios-loop-strong: "\f459";
$ionicon-var-ios-medical: "\f45c";
$ionicon-var-ios-medical-outline: "\f45b";
$ionicon-var-ios-medkit: "\f45e";
$ionicon-var-ios-medkit-outline: "\f45d";
$ionicon-var-ios-mic: "\f461";
$ionicon-var-ios-mic-off: "\f45f";
$ionicon-var-ios-mic-outline: "\f460";
$ionicon-var-ios-minus: "\f464";
$ionicon-var-ios-minus-empty: "\f462";
$ionicon-var-ios-minus-outline: "\f463";
$ionicon-var-ios-monitor: "\f466";
$ionicon-var-ios-monitor-outline: "\f465";
$ionicon-var-ios-moon: "\f468";
$ionicon-var-ios-moon-outline: "\f467";
$ionicon-var-ios-more: "\f46a";
$ionicon-var-ios-more-outline: "\f469";
$ionicon-var-ios-musical-note: "\f46b";
$ionicon-var-ios-musical-notes: "\f46c";
$ionicon-var-ios-navigate: "\f46e";
$ionicon-var-ios-navigate-outline: "\f46d";
$ionicon-var-ios-nutrition: "\f470";
$ionicon-var-ios-nutrition-outline: "\f46f";
$ionicon-var-ios-paper: "\f472";
$ionicon-var-ios-paper-outline: "\f471";
$ionicon-var-ios-paperplane: "\f474";
$ionicon-var-ios-paperplane-outline: "\f473";
$ionicon-var-ios-partlysunny: "\f476";
$ionicon-var-ios-partlysunny-outline: "\f475";
$ionicon-var-ios-pause: "\f478";
$ionicon-var-ios-pause-outline: "\f477";
$ionicon-var-ios-paw: "\f47a";
$ionicon-var-ios-paw-outline: "\f479";
$ionicon-var-ios-people: "\f47c";
$ionicon-var-ios-people-outline: "\f47b";
$ionicon-var-ios-person: "\f47e";
$ionicon-var-ios-person-outline: "\f47d";
$ionicon-var-ios-personadd: "\f480";
$ionicon-var-ios-personadd-outline: "\f47f";
$ionicon-var-ios-photos: "\f482";
$ionicon-var-ios-photos-outline: "\f481";
$ionicon-var-ios-pie: "\f484";
$ionicon-var-ios-pie-outline: "\f483";
$ionicon-var-ios-pint: "\f486";
$ionicon-var-ios-pint-outline: "\f485";
$ionicon-var-ios-play: "\f488";
$ionicon-var-ios-play-outline: "\f487";
$ionicon-var-ios-plus: "\f48b";
$ionicon-var-ios-plus-empty: "\f489";
$ionicon-var-ios-plus-outline: "\f48a";
$ionicon-var-ios-pricetag: "\f48d";
$ionicon-var-ios-pricetag-outline: "\f48c";
$ionicon-var-ios-pricetags: "\f48f";
$ionicon-var-ios-pricetags-outline: "\f48e";
$ionicon-var-ios-printer: "\f491";
$ionicon-var-ios-printer-outline: "\f490";
$ionicon-var-ios-pulse: "\f493";
$ionicon-var-ios-pulse-strong: "\f492";
$ionicon-var-ios-rainy: "\f495";
$ionicon-var-ios-rainy-outline: "\f494";
$ionicon-var-ios-recording: "\f497";
$ionicon-var-ios-recording-outline: "\f496";
$ionicon-var-ios-redo: "\f499";
$ionicon-var-ios-redo-outline: "\f498";
$ionicon-var-ios-refresh: "\f49c";
$ionicon-var-ios-refresh-empty: "\f49a";
$ionicon-var-ios-refresh-outline: "\f49b";
$ionicon-var-ios-reload: "\f49d";
$ionicon-var-ios-reverse-camera: "\f49f";
$ionicon-var-ios-reverse-camera-outline: "\f49e";
$ionicon-var-ios-rewind: "\f4a1";
$ionicon-var-ios-rewind-outline: "\f4a0";
$ionicon-var-ios-rose: "\f4a3";
$ionicon-var-ios-rose-outline: "\f4a2";
$ionicon-var-ios-search: "\f4a5";
$ionicon-var-ios-search-strong: "\f4a4";
$ionicon-var-ios-settings: "\f4a7";
$ionicon-var-ios-settings-strong: "\f4a6";
$ionicon-var-ios-shuffle: "\f4a9";
$ionicon-var-ios-shuffle-strong: "\f4a8";
$ionicon-var-ios-skipbackward: "\f4ab";
$ionicon-var-ios-skipbackward-outline: "\f4aa";
$ionicon-var-ios-skipforward: "\f4ad";
$ionicon-var-ios-skipforward-outline: "\f4ac";
$ionicon-var-ios-snowy: "\f4ae";
$ionicon-var-ios-speedometer: "\f4b0";
$ionicon-var-ios-speedometer-outline: "\f4af";
$ionicon-var-ios-star: "\f4b3";
$ionicon-var-ios-star-half: "\f4b1";
$ionicon-var-ios-star-outline: "\f4b2";
$ionicon-var-ios-stopwatch: "\f4b5";
$ionicon-var-ios-stopwatch-outline: "\f4b4";
$ionicon-var-ios-sunny: "\f4b7";
$ionicon-var-ios-sunny-outline: "\f4b6";
$ionicon-var-ios-telephone: "\f4b9";
$ionicon-var-ios-telephone-outline: "\f4b8";
$ionicon-var-ios-tennisball: "\f4bb";
$ionicon-var-ios-tennisball-outline: "\f4ba";
$ionicon-var-ios-thunderstorm: "\f4bd";
$ionicon-var-ios-thunderstorm-outline: "\f4bc";
$ionicon-var-ios-time: "\f4bf";
$ionicon-var-ios-time-outline: "\f4be";
$ionicon-var-ios-timer: "\f4c1";
$ionicon-var-ios-timer-outline: "\f4c0";
$ionicon-var-ios-toggle: "\f4c3";
$ionicon-var-ios-toggle-outline: "\f4c2";
$ionicon-var-ios-trash: "\f4c5";
$ionicon-var-ios-trash-outline: "\f4c4";
$ionicon-var-ios-undo: "\f4c7";
$ionicon-var-ios-undo-outline: "\f4c6";
$ionicon-var-ios-unlocked: "\f4c9";
$ionicon-var-ios-unlocked-outline: "\f4c8";
$ionicon-var-ios-upload: "\f4cb";
$ionicon-var-ios-upload-outline: "\f4ca";
$ionicon-var-ios-videocam: "\f4cd";
$ionicon-var-ios-videocam-outline: "\f4cc";
$ionicon-var-ios-volume-high: "\f4ce";
$ionicon-var-ios-volume-low: "\f4cf";
$ionicon-var-ios-wineglass: "\f4d1";
$ionicon-var-ios-wineglass-outline: "\f4d0";
$ionicon-var-ios-world: "\f4d3";
$ionicon-var-ios-world-outline: "\f4d2";
$ionicon-var-ipad: "\f1f9";
$ionicon-var-iphone: "\f1fa";
$ionicon-var-ipod: "\f1fb";
$ionicon-var-jet: "\f295";
$ionicon-var-key: "\f296";
$ionicon-var-knife: "\f297";
$ionicon-var-laptop: "\f1fc";
$ionicon-var-leaf: "\f1fd";
$ionicon-var-levels: "\f298";
$ionicon-var-lightbulb: "\f299";
$ionicon-var-link: "\f1fe";
$ionicon-var-load-a: "\f29a";
$ionicon-var-load-b: "\f29b";
$ionicon-var-load-c: "\f29c";
$ionicon-var-load-d: "\f29d";
$ionicon-var-location: "\f1ff";
$ionicon-var-lock-combination: "\f4d4";
$ionicon-var-locked: "\f200";
$ionicon-var-log-in: "\f29e";
$ionicon-var-log-out: "\f29f";
$ionicon-var-loop: "\f201";
$ionicon-var-magnet: "\f2a0";
$ionicon-var-male: "\f2a1";
$ionicon-var-man: "\f202";
$ionicon-var-map: "\f203";
$ionicon-var-medkit: "\f2a2";
$ionicon-var-merge: "\f33f";
$ionicon-var-mic-a: "\f204";
$ionicon-var-mic-b: "\f205";
$ionicon-var-mic-c: "\f206";
$ionicon-var-minus: "\f209";
$ionicon-var-minus-circled: "\f207";
$ionicon-var-minus-round: "\f208";
$ionicon-var-model-s: "\f2c1";
$ionicon-var-monitor: "\f20a";
$ionicon-var-more: "\f20b";
$ionicon-var-mouse: "\f340";
$ionicon-var-music-note: "\f20c";
$ionicon-var-navicon: "\f20e";
$ionicon-var-navicon-round: "\f20d";
$ionicon-var-navigate: "\f2a3";
$ionicon-var-network: "\f341";
$ionicon-var-no-smoking: "\f2c2";
$ionicon-var-nuclear: "\f2a4";
$ionicon-var-outlet: "\f342";
$ionicon-var-paintbrush: "\f4d5";
$ionicon-var-paintbucket: "\f4d6";
$ionicon-var-paper-airplane: "\f2c3";
$ionicon-var-paperclip: "\f20f";
$ionicon-var-pause: "\f210";
$ionicon-var-person: "\f213";
$ionicon-var-person-add: "\f211";
$ionicon-var-person-stalker: "\f212";
$ionicon-var-pie-graph: "\f2a5";
$ionicon-var-pin: "\f2a6";
$ionicon-var-pinpoint: "\f2a7";
$ionicon-var-pizza: "\f2a8";
$ionicon-var-plane: "\f214";
$ionicon-var-planet: "\f343";
$ionicon-var-play: "\f215";
$ionicon-var-playstation: "\f30a";
$ionicon-var-plus: "\f218";
$ionicon-var-plus-circled: "\f216";
$ionicon-var-plus-round: "\f217";
$ionicon-var-podium: "\f344";
$ionicon-var-pound: "\f219";
$ionicon-var-power: "\f2a9";
$ionicon-var-pricetag: "\f2aa";
$ionicon-var-pricetags: "\f2ab";
$ionicon-var-printer: "\f21a";
$ionicon-var-pull-request: "\f345";
$ionicon-var-qr-scanner: "\f346";
$ionicon-var-quote: "\f347";
$ionicon-var-radio-waves: "\f2ac";
$ionicon-var-record: "\f21b";
$ionicon-var-refresh: "\f21c";
$ionicon-var-reply: "\f21e";
$ionicon-var-reply-all: "\f21d";
$ionicon-var-ribbon-a: "\f348";
$ionicon-var-ribbon-b: "\f349";
$ionicon-var-sad: "\f34a";
$ionicon-var-sad-outline: "\f4d7";
$ionicon-var-scissors: "\f34b";
$ionicon-var-search: "\f21f";
$ionicon-var-settings: "\f2ad";
$ionicon-var-share: "\f220";
$ionicon-var-shuffle: "\f221";
$ionicon-var-skip-backward: "\f222";
$ionicon-var-skip-forward: "\f223";
$ionicon-var-social-android: "\f225";
$ionicon-var-social-android-outline: "\f224";
$ionicon-var-social-angular: "\f4d9";
$ionicon-var-social-angular-outline: "\f4d8";
$ionicon-var-social-apple: "\f227";
$ionicon-var-social-apple-outline: "\f226";
$ionicon-var-social-bitcoin: "\f2af";
$ionicon-var-social-bitcoin-outline: "\f2ae";
$ionicon-var-social-buffer: "\f229";
$ionicon-var-social-buffer-outline: "\f228";
$ionicon-var-social-chrome: "\f4db";
$ionicon-var-social-chrome-outline: "\f4da";
$ionicon-var-social-codepen: "\f4dd";
$ionicon-var-social-codepen-outline: "\f4dc";
$ionicon-var-social-css3: "\f4df";
$ionicon-var-social-css3-outline: "\f4de";
$ionicon-var-social-designernews: "\f22b";
$ionicon-var-social-designernews-outline: "\f22a";
$ionicon-var-social-dribbble: "\f22d";
$ionicon-var-social-dribbble-outline: "\f22c";
$ionicon-var-social-dropbox: "\f22f";
$ionicon-var-social-dropbox-outline: "\f22e";
$ionicon-var-social-euro: "\f4e1";
$ionicon-var-social-euro-outline: "\f4e0";
$ionicon-var-social-facebook: "\f231";
$ionicon-var-social-facebook-outline: "\f230";
$ionicon-var-social-foursquare: "\f34d";
$ionicon-var-social-foursquare-outline: "\f34c";
$ionicon-var-social-freebsd-devil: "\f2c4";
$ionicon-var-social-github: "\f233";
$ionicon-var-social-github-outline: "\f232";
$ionicon-var-social-google: "\f34f";
$ionicon-var-social-google-outline: "\f34e";
$ionicon-var-social-googleplus: "\f235";
$ionicon-var-social-googleplus-outline: "\f234";
$ionicon-var-social-hackernews: "\f237";
$ionicon-var-social-hackernews-outline: "\f236";
$ionicon-var-social-html5: "\f4e3";
$ionicon-var-social-html5-outline: "\f4e2";
$ionicon-var-social-instagram: "\f351";
$ionicon-var-social-instagram-outline: "\f350";
$ionicon-var-social-javascript: "\f4e5";
$ionicon-var-social-javascript-outline: "\f4e4";
$ionicon-var-social-linkedin: "\f239";
$ionicon-var-social-linkedin-outline: "\f238";
$ionicon-var-social-markdown: "\f4e6";
$ionicon-var-social-nodejs: "\f4e7";
$ionicon-var-social-octocat: "\f4e8";
$ionicon-var-social-pinterest: "\f2b1";
$ionicon-var-social-pinterest-outline: "\f2b0";
$ionicon-var-social-python: "\f4e9";
$ionicon-var-social-reddit: "\f23b";
$ionicon-var-social-reddit-outline: "\f23a";
$ionicon-var-social-rss: "\f23d";
$ionicon-var-social-rss-outline: "\f23c";
$ionicon-var-social-sass: "\f4ea";
$ionicon-var-social-skype: "\f23f";
$ionicon-var-social-skype-outline: "\f23e";
$ionicon-var-social-snapchat: "\f4ec";
$ionicon-var-social-snapchat-outline: "\f4eb";
$ionicon-var-social-tumblr: "\f241";
$ionicon-var-social-tumblr-outline: "\f240";
$ionicon-var-social-tux: "\f2c5";
$ionicon-var-social-twitch: "\f4ee";
$ionicon-var-social-twitch-outline: "\f4ed";
$ionicon-var-social-twitter: "\f243";
$ionicon-var-social-twitter-outline: "\f242";
$ionicon-var-social-usd: "\f353";
$ionicon-var-social-usd-outline: "\f352";
$ionicon-var-social-vimeo: "\f245";
$ionicon-var-social-vimeo-outline: "\f244";
$ionicon-var-social-whatsapp: "\f4f0";
$ionicon-var-social-whatsapp-outline: "\f4ef";
$ionicon-var-social-windows: "\f247";
$ionicon-var-social-windows-outline: "\f246";
$ionicon-var-social-wordpress: "\f249";
$ionicon-var-social-wordpress-outline: "\f248";
$ionicon-var-social-yahoo: "\f24b";
$ionicon-var-social-yahoo-outline: "\f24a";
$ionicon-var-social-yen: "\f4f2";
$ionicon-var-social-yen-outline: "\f4f1";
$ionicon-var-social-youtube: "\f24d";
$ionicon-var-social-youtube-outline: "\f24c";
$ionicon-var-soup-can: "\f4f4";
$ionicon-var-soup-can-outline: "\f4f3";
$ionicon-var-speakerphone: "\f2b2";
$ionicon-var-speedometer: "\f2b3";
$ionicon-var-spoon: "\f2b4";
$ionicon-var-star: "\f24e";
$ionicon-var-stats-bars: "\f2b5";
$ionicon-var-steam: "\f30b";
$ionicon-var-stop: "\f24f";
$ionicon-var-thermometer: "\f2b6";
$ionicon-var-thumbsdown: "\f250";
$ionicon-var-thumbsup: "\f251";
$ionicon-var-toggle: "\f355";
$ionicon-var-toggle-filled: "\f354";
$ionicon-var-transgender: "\f4f5";
$ionicon-var-trash-a: "\f252";
$ionicon-var-trash-b: "\f253";
$ionicon-var-trophy: "\f356";
$ionicon-var-tshirt: "\f4f7";
$ionicon-var-tshirt-outline: "\f4f6";
$ionicon-var-umbrella: "\f2b7";
$ionicon-var-university: "\f357";
$ionicon-var-unlocked: "\f254";
$ionicon-var-upload: "\f255";
$ionicon-var-usb: "\f2b8";
$ionicon-var-videocamera: "\f256";
$ionicon-var-volume-high: "\f257";
$ionicon-var-volume-low: "\f258";
$ionicon-var-volume-medium: "\f259";
$ionicon-var-volume-mute: "\f25a";
$ionicon-var-wand: "\f358";
$ionicon-var-waterdrop: "\f25b";
$ionicon-var-wifi: "\f25c";
$ionicon-var-wineglass: "\f2b9";
$ionicon-var-woman: "\f25d";
$ionicon-var-wrench: "\f2ba";
$ionicon-var-xbox: "\f30c";

$fa-var-500px: "\f26e";
$fa-var-address-book: "\f2b9";
$fa-var-address-book-o: "\f2ba";
$fa-var-address-card: "\f2bb";
$fa-var-address-card-o: "\f2bc";
$fa-var-adjust: "\f042";
$fa-var-adn: "\f170";
$fa-var-align-center: "\f037";
$fa-var-align-justify: "\f039";
$fa-var-align-left: "\f036";
$fa-var-align-right: "\f038";
$fa-var-amazon: "\f270";
$fa-var-ambulance: "\f0f9";
$fa-var-american-sign-language-interpreting: "\f2a3";
$fa-var-anchor: "\f13d";
$fa-var-android: "\f17b";
$fa-var-angellist: "\f209";
$fa-var-angle-double-down: "\f103";
$fa-var-angle-double-left: "\f100";
$fa-var-angle-double-right: "\f101";
$fa-var-angle-double-up: "\f102";
$fa-var-angle-down: "\f107";
$fa-var-angle-left: "\f104";
$fa-var-angle-right: "\f105";
$fa-var-angle-up: "\f106";
$fa-var-apple: "\f179";
$fa-var-archive: "\f187";
$fa-var-area-chart: "\f1fe";
$fa-var-arrow-circle-down: "\f0ab";
$fa-var-arrow-circle-left: "\f0a8";
$fa-var-arrow-circle-o-down: "\f01a";
$fa-var-arrow-circle-o-left: "\f190";
$fa-var-arrow-circle-o-right: "\f18e";
$fa-var-arrow-circle-o-up: "\f01b";
$fa-var-arrow-circle-right: "\f0a9";
$fa-var-arrow-circle-up: "\f0aa";
$fa-var-arrow-down: "\f063";
$fa-var-arrow-left: "\f060";
$fa-var-arrow-right: "\f061";
$fa-var-arrow-up: "\f062";
$fa-var-arrows: "\f047";
$fa-var-arrows-alt: "\f0b2";
$fa-var-arrows-h: "\f07e";
$fa-var-arrows-v: "\f07d";
$fa-var-asl-interpreting: "\f2a3";
$fa-var-assistive-listening-systems: "\f2a2";
$fa-var-asterisk: "\f069";
$fa-var-at: "\f1fa";
$fa-var-audio-description: "\f29e";
$fa-var-automobile: "\f1b9";
$fa-var-backward: "\f04a";
$fa-var-balance-scale: "\f24e";
$fa-var-ban: "\f05e";
$fa-var-bandcamp: "\f2d5";
$fa-var-bank: "\f19c";
$fa-var-bar-chart: "\f080";
$fa-var-bar-chart-o: "\f080";
$fa-var-barcode: "\f02a";
$fa-var-bars: "\f0c9";
$fa-var-bath: "\f2cd";
$fa-var-bathtub: "\f2cd";
$fa-var-battery: "\f240";
$fa-var-battery-0: "\f244";
$fa-var-battery-1: "\f243";
$fa-var-battery-2: "\f242";
$fa-var-battery-3: "\f241";
$fa-var-battery-4: "\f240";
$fa-var-battery-empty: "\f244";
$fa-var-battery-full: "\f240";
$fa-var-battery-half: "\f242";
$fa-var-battery-quarter: "\f243";
$fa-var-battery-three-quarters: "\f241";
$fa-var-bed: "\f236";
$fa-var-beer: "\f0fc";
$fa-var-behance: "\f1b4";
$fa-var-behance-square: "\f1b5";
$fa-var-bell: "\f0f3";
$fa-var-bell-o: "\f0a2";
$fa-var-bell-slash: "\f1f6";
$fa-var-bell-slash-o: "\f1f7";
$fa-var-bicycle: "\f206";
$fa-var-binoculars: "\f1e5";
$fa-var-birthday-cake: "\f1fd";
$fa-var-bitbucket: "\f171";
$fa-var-bitbucket-square: "\f172";
$fa-var-bitcoin: "\f15a";
$fa-var-black-tie: "\f27e";
$fa-var-blind: "\f29d";
$fa-var-bluetooth: "\f293";
$fa-var-bluetooth-b: "\f294";
$fa-var-bold: "\f032";
$fa-var-bolt: "\f0e7";
$fa-var-bomb: "\f1e2";
$fa-var-book: "\f02d";
$fa-var-bookmark: "\f02e";
$fa-var-bookmark-o: "\f097";
$fa-var-braille: "\f2a1";
$fa-var-briefcase: "\f0b1";
$fa-var-btc: "\f15a";
$fa-var-bug: "\f188";
$fa-var-building: "\f1ad";
$fa-var-building-o: "\f0f7";
$fa-var-bullhorn: "\f0a1";
$fa-var-bullseye: "\f140";
$fa-var-bus: "\f207";
$fa-var-buysellads: "\f20d";
$fa-var-cab: "\f1ba";
$fa-var-calculator: "\f1ec";
$fa-var-calendar: "\f073";
$fa-var-calendar-check-o: "\f274";
$fa-var-calendar-minus-o: "\f272";
$fa-var-calendar-o: "\f133";
$fa-var-calendar-plus-o: "\f271";
$fa-var-calendar-times-o: "\f273";
$fa-var-camera: "\f030";
$fa-var-camera-retro: "\f083";
$fa-var-car: "\f1b9";
$fa-var-caret-down: "\f0d7";
$fa-var-caret-left: "\f0d9";
$fa-var-caret-right: "\f0da";
$fa-var-caret-square-o-down: "\f150";
$fa-var-caret-square-o-left: "\f191";
$fa-var-caret-square-o-right: "\f152";
$fa-var-caret-square-o-up: "\f151";
$fa-var-caret-up: "\f0d8";
$fa-var-cart-arrow-down: "\f218";
$fa-var-cart-plus: "\f217";
$fa-var-cc: "\f20a";
$fa-var-cc-amex: "\f1f3";
$fa-var-cc-diners-club: "\f24c";
$fa-var-cc-discover: "\f1f2";
$fa-var-cc-jcb: "\f24b";
$fa-var-cc-mastercard: "\f1f1";
$fa-var-cc-paypal: "\f1f4";
$fa-var-cc-stripe: "\f1f5";
$fa-var-cc-visa: "\f1f0";
$fa-var-certificate: "\f0a3";
$fa-var-chain: "\f0c1";
$fa-var-chain-broken: "\f127";
$fa-var-check: "\f00c";
$fa-var-check-circle: "\f058";
$fa-var-check-circle-o: "\f05d";
$fa-var-check-square: "\f14a";
$fa-var-check-square-o: "\f046";
$fa-var-chevron-circle-down: "\f13a";
$fa-var-chevron-circle-left: "\f137";
$fa-var-chevron-circle-right: "\f138";
$fa-var-chevron-circle-up: "\f139";
$fa-var-chevron-down: "\f078";
$fa-var-chevron-left: "\f053";
$fa-var-chevron-right: "\f054";
$fa-var-chevron-up: "\f077";
$fa-var-child: "\f1ae";
$fa-var-chrome: "\f268";
$fa-var-circle: "\f111";
$fa-var-circle-o: "\f10c";
$fa-var-circle-o-notch: "\f1ce";
$fa-var-circle-thin: "\f1db";
$fa-var-clipboard: "\f0ea";
$fa-var-clock-o: "\f017";
$fa-var-clone: "\f24d";
$fa-var-close: "\f00d";
$fa-var-cloud: "\f0c2";
$fa-var-cloud-download: "\f0ed";
$fa-var-cloud-upload: "\f0ee";
$fa-var-cny: "\f157";
$fa-var-code: "\f121";
$fa-var-code-fork: "\f126";
$fa-var-codepen: "\f1cb";
$fa-var-codiepie: "\f284";
$fa-var-coffee: "\f0f4";
$fa-var-cog: "\f013";
$fa-var-cogs: "\f085";
$fa-var-columns: "\f0db";
$fa-var-comment: "\f075";
$fa-var-comment-o: "\f0e5";
$fa-var-commenting: "\f27a";
$fa-var-commenting-o: "\f27b";
$fa-var-comments: "\f086";
$fa-var-comments-o: "\f0e6";
$fa-var-compass: "\f14e";
$fa-var-compress: "\f066";
$fa-var-connectdevelop: "\f20e";
$fa-var-contao: "\f26d";
$fa-var-copy: "\f0c5";
$fa-var-copyright: "\f1f9";
$fa-var-creative-commons: "\f25e";
$fa-var-credit-card: "\f09d";
$fa-var-credit-card-alt: "\f283";
$fa-var-crop: "\f125";
$fa-var-crosshairs: "\f05b";
$fa-var-css3: "\f13c";
$fa-var-cube: "\f1b2";
$fa-var-cubes: "\f1b3";
$fa-var-cut: "\f0c4";
$fa-var-cutlery: "\f0f5";
$fa-var-dashboard: "\f0e4";
$fa-var-dashcube: "\f210";
$fa-var-database: "\f1c0";
$fa-var-deaf: "\f2a4";
$fa-var-deafness: "\f2a4";
$fa-var-dedent: "\f03b";
$fa-var-delicious: "\f1a5";
$fa-var-desktop: "\f108";
$fa-var-deviantart: "\f1bd";
$fa-var-diamond: "\f219";
$fa-var-digg: "\f1a6";
$fa-var-dollar: "\f155";
$fa-var-dot-circle-o: "\f192";
$fa-var-download: "\f019";
$fa-var-dribbble: "\f17d";
$fa-var-drivers-license: "\f2c2";
$fa-var-drivers-license-o: "\f2c3";
$fa-var-dropbox: "\f16b";
$fa-var-drupal: "\f1a9";
$fa-var-edge: "\f282";
$fa-var-edit: "\f044";
$fa-var-eercast: "\f2da";
$fa-var-eject: "\f052";
$fa-var-ellipsis-h: "\f141";
$fa-var-ellipsis-v: "\f142";
$fa-var-empire: "\f1d1";
$fa-var-envelope: "\f0e0";
$fa-var-envelope-o: "\f003";
$fa-var-envelope-open: "\f2b6";
$fa-var-envelope-open-o: "\f2b7";
$fa-var-envelope-square: "\f199";
$fa-var-envira: "\f299";
$fa-var-eraser: "\f12d";
$fa-var-etsy: "\f2d7";
$fa-var-eur: "\f153";
$fa-var-euro: "\f153";
$fa-var-exchange: "\f0ec";
$fa-var-exclamation: "\f12a";
$fa-var-exclamation-circle: "\f06a";
$fa-var-exclamation-triangle: "\f071";
$fa-var-expand: "\f065";
$fa-var-expeditedssl: "\f23e";
$fa-var-external-link: "\f08e";
$fa-var-external-link-square: "\f14c";
$fa-var-eye: "\f06e";
$fa-var-eye-slash: "\f070";
$fa-var-eyedropper: "\f1fb";
$fa-var-fa: "\f2b4";
$fa-var-facebook: "\f09a";
$fa-var-facebook-f: "\f09a";
$fa-var-facebook-official: "\f230";
$fa-var-facebook-square: "\f082";
$fa-var-fast-backward: "\f049";
$fa-var-fast-forward: "\f050";
$fa-var-fax: "\f1ac";
$fa-var-feed: "\f09e";
$fa-var-female: "\f182";
$fa-var-fighter-jet: "\f0fb";
$fa-var-file: "\f15b";
$fa-var-file-archive-o: "\f1c6";
$fa-var-file-audio-o: "\f1c7";
$fa-var-file-code-o: "\f1c9";
$fa-var-file-excel-o: "\f1c3";
$fa-var-file-image-o: "\f1c5";
$fa-var-file-movie-o: "\f1c8";
$fa-var-file-o: "\f016";
$fa-var-file-pdf-o: "\f1c1";
$fa-var-file-photo-o: "\f1c5";
$fa-var-file-picture-o: "\f1c5";
$fa-var-file-powerpoint-o: "\f1c4";
$fa-var-file-sound-o: "\f1c7";
$fa-var-file-text: "\f15c";
$fa-var-file-text-o: "\f0f6";
$fa-var-file-video-o: "\f1c8";
$fa-var-file-word-o: "\f1c2";
$fa-var-file-zip-o: "\f1c6";
$fa-var-files-o: "\f0c5";
$fa-var-film: "\f008";
$fa-var-filter: "\f0b0";
$fa-var-fire: "\f06d";
$fa-var-fire-extinguisher: "\f134";
$fa-var-firefox: "\f269";
$fa-var-first-order: "\f2b0";
$fa-var-flag: "\f024";
$fa-var-flag-checkered: "\f11e";
$fa-var-flag-o: "\f11d";
$fa-var-flash: "\f0e7";
$fa-var-flask: "\f0c3";
$fa-var-flickr: "\f16e";
$fa-var-floppy-o: "\f0c7";
$fa-var-folder: "\f07b";
$fa-var-folder-o: "\f114";
$fa-var-folder-open: "\f07c";
$fa-var-folder-open-o: "\f115";
$fa-var-font: "\f031";
$fa-var-font-awesome: "\f2b4";
$fa-var-fonticons: "\f280";
$fa-var-fort-awesome: "\f286";
$fa-var-forumbee: "\f211";
$fa-var-forward: "\f04e";
$fa-var-foursquare: "\f180";
$fa-var-free-code-camp: "\f2c5";
$fa-var-frown-o: "\f119";
$fa-var-futbol-o: "\f1e3";
$fa-var-gamepad: "\f11b";
$fa-var-gavel: "\f0e3";
$fa-var-gbp: "\f154";
$fa-var-ge: "\f1d1";
$fa-var-gear: "\f013";
$fa-var-gears: "\f085";
$fa-var-genderless: "\f22d";
$fa-var-get-pocket: "\f265";
$fa-var-gg: "\f260";
$fa-var-gg-circle: "\f261";
$fa-var-gift: "\f06b";
$fa-var-git: "\f1d3";
$fa-var-git-square: "\f1d2";
$fa-var-github: "\f09b";
$fa-var-github-alt: "\f113";
$fa-var-github-square: "\f092";
$fa-var-gitlab: "\f296";
$fa-var-gittip: "\f184";
$fa-var-glass: "\f000";
$fa-var-glide: "\f2a5";
$fa-var-glide-g: "\f2a6";
$fa-var-globe: "\f0ac";
$fa-var-google: "\f1a0";
$fa-var-google-plus: "\f0d5";
$fa-var-google-plus-circle: "\f2b3";
$fa-var-google-plus-official: "\f2b3";
$fa-var-google-plus-square: "\f0d4";
$fa-var-google-wallet: "\f1ee";
$fa-var-graduation-cap: "\f19d";
$fa-var-gratipay: "\f184";
$fa-var-grav: "\f2d6";
$fa-var-group: "\f0c0";
$fa-var-h-square: "\f0fd";
$fa-var-hacker-news: "\f1d4";
$fa-var-hand-grab-o: "\f255";
$fa-var-hand-lizard-o: "\f258";
$fa-var-hand-o-down: "\f0a7";
$fa-var-hand-o-left: "\f0a5";
$fa-var-hand-o-right: "\f0a4";
$fa-var-hand-o-up: "\f0a6";
$fa-var-hand-paper-o: "\f256";
$fa-var-hand-peace-o: "\f25b";
$fa-var-hand-pointer-o: "\f25a";
$fa-var-hand-rock-o: "\f255";
$fa-var-hand-scissors-o: "\f257";
$fa-var-hand-spock-o: "\f259";
$fa-var-hand-stop-o: "\f256";
$fa-var-handshake-o: "\f2b5";
$fa-var-hard-of-hearing: "\f2a4";
$fa-var-hashtag: "\f292";
$fa-var-hdd-o: "\f0a0";
$fa-var-header: "\f1dc";
$fa-var-headphones: "\f025";
$fa-var-heart: "\f004";
$fa-var-heart-o: "\f08a";
$fa-var-heartbeat: "\f21e";
$fa-var-history: "\f1da";
$fa-var-home: "\f015";
$fa-var-hospital-o: "\f0f8";
$fa-var-hotel: "\f236";
$fa-var-hourglass: "\f254";
$fa-var-hourglass-1: "\f251";
$fa-var-hourglass-2: "\f252";
$fa-var-hourglass-3: "\f253";
$fa-var-hourglass-end: "\f253";
$fa-var-hourglass-half: "\f252";
$fa-var-hourglass-o: "\f250";
$fa-var-hourglass-start: "\f251";
$fa-var-houzz: "\f27c";
$fa-var-html5: "\f13b";
$fa-var-i-cursor: "\f246";
$fa-var-id-badge: "\f2c1";
$fa-var-id-card: "\f2c2";
$fa-var-id-card-o: "\f2c3";
$fa-var-ils: "\f20b";
$fa-var-image: "\f03e";
$fa-var-imdb: "\f2d8";
$fa-var-inbox: "\f01c";
$fa-var-indent: "\f03c";
$fa-var-industry: "\f275";
$fa-var-info: "\f129";
$fa-var-info-circle: "\f05a";
$fa-var-inr: "\f156";
$fa-var-instagram: "\f16d";
$fa-var-institution: "\f19c";
$fa-var-internet-explorer: "\f26b";
$fa-var-intersex: "\f224";
$fa-var-ioxhost: "\f208";
$fa-var-italic: "\f033";
$fa-var-joomla: "\f1aa";
$fa-var-jpy: "\f157";
$fa-var-jsfiddle: "\f1cc";
$fa-var-key: "\f084";
$fa-var-keyboard-o: "\f11c";
$fa-var-krw: "\f159";
$fa-var-language: "\f1ab";
$fa-var-laptop: "\f109";
$fa-var-lastfm: "\f202";
$fa-var-lastfm-square: "\f203";
$fa-var-leaf: "\f06c";
$fa-var-leanpub: "\f212";
$fa-var-legal: "\f0e3";
$fa-var-lemon-o: "\f094";
$fa-var-level-down: "\f149";
$fa-var-level-up: "\f148";
$fa-var-life-bouy: "\f1cd";
$fa-var-life-buoy: "\f1cd";
$fa-var-life-ring: "\f1cd";
$fa-var-life-saver: "\f1cd";
$fa-var-lightbulb-o: "\f0eb";
$fa-var-line-chart: "\f201";
$fa-var-link: "\f0c1";
$fa-var-linkedin: "\f0e1";
$fa-var-linkedin-square: "\f08c";
$fa-var-linode: "\f2b8";
$fa-var-linux: "\f17c";
$fa-var-list: "\f03a";
$fa-var-list-alt: "\f022";
$fa-var-list-ol: "\f0cb";
$fa-var-list-ul: "\f0ca";
$fa-var-location-arrow: "\f124";
$fa-var-lock: "\f023";
$fa-var-long-arrow-down: "\f175";
$fa-var-long-arrow-left: "\f177";
$fa-var-long-arrow-right: "\f178";
$fa-var-long-arrow-up: "\f176";
$fa-var-low-vision: "\f2a8";
$fa-var-magic: "\f0d0";
$fa-var-magnet: "\f076";
$fa-var-mail-forward: "\f064";
$fa-var-mail-reply: "\f112";
$fa-var-mail-reply-all: "\f122";
$fa-var-male: "\f183";
$fa-var-map: "\f279";
$fa-var-map-marker: "\f041";
$fa-var-map-o: "\f278";
$fa-var-map-pin: "\f276";
$fa-var-map-signs: "\f277";
$fa-var-mars: "\f222";
$fa-var-mars-double: "\f227";
$fa-var-mars-stroke: "\f229";
$fa-var-mars-stroke-h: "\f22b";
$fa-var-mars-stroke-v: "\f22a";
$fa-var-maxcdn: "\f136";
$fa-var-meanpath: "\f20c";
$fa-var-medium: "\f23a";
$fa-var-medkit: "\f0fa";
$fa-var-meetup: "\f2e0";
$fa-var-meh-o: "\f11a";
$fa-var-mercury: "\f223";
$fa-var-microchip: "\f2db";
$fa-var-microphone: "\f130";
$fa-var-microphone-slash: "\f131";
$fa-var-minus: "\f068";
$fa-var-minus-circle: "\f056";
$fa-var-minus-square: "\f146";
$fa-var-minus-square-o: "\f147";
$fa-var-mixcloud: "\f289";
$fa-var-mobile: "\f10b";
$fa-var-mobile-phone: "\f10b";
$fa-var-modx: "\f285";
$fa-var-money: "\f0d6";
$fa-var-moon-o: "\f186";
$fa-var-mortar-board: "\f19d";
$fa-var-motorcycle: "\f21c";
$fa-var-mouse-pointer: "\f245";
$fa-var-music: "\f001";
$fa-var-navicon: "\f0c9";
$fa-var-neuter: "\f22c";
$fa-var-newspaper-o: "\f1ea";
$fa-var-object-group: "\f247";
$fa-var-object-ungroup: "\f248";
$fa-var-odnoklassniki: "\f263";
$fa-var-odnoklassniki-square: "\f264";
$fa-var-opencart: "\f23d";
$fa-var-openid: "\f19b";
$fa-var-opera: "\f26a";
$fa-var-optin-monster: "\f23c";
$fa-var-outdent: "\f03b";
$fa-var-pagelines: "\f18c";
$fa-var-paint-brush: "\f1fc";
$fa-var-paper-plane: "\f1d8";
$fa-var-paper-plane-o: "\f1d9";
$fa-var-paperclip: "\f0c6";
$fa-var-paragraph: "\f1dd";
$fa-var-paste: "\f0ea";
$fa-var-pause: "\f04c";
$fa-var-pause-circle: "\f28b";
$fa-var-pause-circle-o: "\f28c";
$fa-var-paw: "\f1b0";
$fa-var-paypal: "\f1ed";
$fa-var-pencil: "\f040";
$fa-var-pencil-square: "\f14b";
$fa-var-pencil-square-o: "\f044";
$fa-var-percent: "\f295";
$fa-var-phone: "\f095";
$fa-var-phone-square: "\f098";
$fa-var-photo: "\f03e";
$fa-var-picture-o: "\f03e";
$fa-var-pie-chart: "\f200";
$fa-var-pied-piper: "\f2ae";
$fa-var-pied-piper-alt: "\f1a8";
$fa-var-pied-piper-pp: "\f1a7";
$fa-var-pinterest: "\f0d2";
$fa-var-pinterest-p: "\f231";
$fa-var-pinterest-square: "\f0d3";
$fa-var-plane: "\f072";
$fa-var-play: "\f04b";
$fa-var-play-circle: "\f144";
$fa-var-play-circle-o: "\f01d";
$fa-var-plug: "\f1e6";
$fa-var-plus: "\f067";
$fa-var-plus-circle: "\f055";
$fa-var-plus-square: "\f0fe";
$fa-var-plus-square-o: "\f196";
$fa-var-podcast: "\f2ce";
$fa-var-power-off: "\f011";
$fa-var-print: "\f02f";
$fa-var-product-hunt: "\f288";
$fa-var-puzzle-piece: "\f12e";
$fa-var-qq: "\f1d6";
$fa-var-qrcode: "\f029";
$fa-var-question: "\f128";
$fa-var-question-circle: "\f059";
$fa-var-question-circle-o: "\f29c";
$fa-var-quora: "\f2c4";
$fa-var-quote-left: "\f10d";
$fa-var-quote-right: "\f10e";
$fa-var-ra: "\f1d0";
$fa-var-random: "\f074";
$fa-var-ravelry: "\f2d9";
$fa-var-rebel: "\f1d0";
$fa-var-recycle: "\f1b8";
$fa-var-reddit: "\f1a1";
$fa-var-reddit-alien: "\f281";
$fa-var-reddit-square: "\f1a2";
$fa-var-refresh: "\f021";
$fa-var-registered: "\f25d";
$fa-var-remove: "\f00d";
$fa-var-renren: "\f18b";
$fa-var-reorder: "\f0c9";
$fa-var-repeat: "\f01e";
$fa-var-reply: "\f112";
$fa-var-reply-all: "\f122";
$fa-var-resistance: "\f1d0";
$fa-var-retweet: "\f079";
$fa-var-rmb: "\f157";
$fa-var-road: "\f018";
$fa-var-rocket: "\f135";
$fa-var-rotate-left: "\f0e2";
$fa-var-rotate-right: "\f01e";
$fa-var-rouble: "\f158";
$fa-var-rss: "\f09e";
$fa-var-rss-square: "\f143";
$fa-var-rub: "\f158";
$fa-var-ruble: "\f158";
$fa-var-rupee: "\f156";
$fa-var-s15: "\f2cd";
$fa-var-safari: "\f267";
$fa-var-save: "\f0c7";
$fa-var-scissors: "\f0c4";
$fa-var-scribd: "\f28a";
$fa-var-search: "\f002";
$fa-var-search-minus: "\f010";
$fa-var-search-plus: "\f00e";
$fa-var-sellsy: "\f213";
$fa-var-send: "\f1d8";
$fa-var-send-o: "\f1d9";
$fa-var-server: "\f233";
$fa-var-share: "\f064";
$fa-var-share-alt: "\f1e0";
$fa-var-share-alt-square: "\f1e1";
$fa-var-share-square: "\f14d";
$fa-var-share-square-o: "\f045";
$fa-var-shekel: "\f20b";
$fa-var-sheqel: "\f20b";
$fa-var-shield: "\f132";
$fa-var-ship: "\f21a";
$fa-var-shirtsinbulk: "\f214";
$fa-var-shopping-bag: "\f290";
$fa-var-shopping-basket: "\f291";
$fa-var-shopping-cart: "\f07a";
$fa-var-shower: "\f2cc";
$fa-var-sign-in: "\f090";
$fa-var-sign-language: "\f2a7";
$fa-var-sign-out: "\f08b";
$fa-var-signal: "\f012";
$fa-var-signing: "\f2a7";
$fa-var-simplybuilt: "\f215";
$fa-var-sitemap: "\f0e8";
$fa-var-skyatlas: "\f216";
$fa-var-skype: "\f17e";
$fa-var-slack: "\f198";
$fa-var-sliders: "\f1de";
$fa-var-slideshare: "\f1e7";
$fa-var-smile-o: "\f118";
$fa-var-snapchat: "\f2ab";
$fa-var-snapchat-ghost: "\f2ac";
$fa-var-snapchat-square: "\f2ad";
$fa-var-snowflake-o: "\f2dc";
$fa-var-soccer-ball-o: "\f1e3";
$fa-var-sort: "\f0dc";
$fa-var-sort-alpha-asc: "\f15d";
$fa-var-sort-alpha-desc: "\f15e";
$fa-var-sort-amount-asc: "\f160";
$fa-var-sort-amount-desc: "\f161";
$fa-var-sort-asc: "\f0de";
$fa-var-sort-desc: "\f0dd";
$fa-var-sort-down: "\f0dd";
$fa-var-sort-numeric-asc: "\f162";
$fa-var-sort-numeric-desc: "\f163";
$fa-var-sort-up: "\f0de";
$fa-var-soundcloud: "\f1be";
$fa-var-space-shuttle: "\f197";
$fa-var-spinner: "\f110";
$fa-var-spoon: "\f1b1";
$fa-var-spotify: "\f1bc";
$fa-var-square: "\f0c8";
$fa-var-square-o: "\f096";
$fa-var-stack-exchange: "\f18d";
$fa-var-stack-overflow: "\f16c";
$fa-var-star: "\f005";
$fa-var-star-half: "\f089";
$fa-var-star-half-empty: "\f123";
$fa-var-star-half-full: "\f123";
$fa-var-star-half-o: "\f123";
$fa-var-star-o: "\f006";
$fa-var-steam: "\f1b6";
$fa-var-steam-square: "\f1b7";
$fa-var-step-backward: "\f048";
$fa-var-step-forward: "\f051";
$fa-var-stethoscope: "\f0f1";
$fa-var-sticky-note: "\f249";
$fa-var-sticky-note-o: "\f24a";
$fa-var-stop: "\f04d";
$fa-var-stop-circle: "\f28d";
$fa-var-stop-circle-o: "\f28e";
$fa-var-street-view: "\f21d";
$fa-var-strikethrough: "\f0cc";
$fa-var-stumbleupon: "\f1a4";
$fa-var-stumbleupon-circle: "\f1a3";
$fa-var-subscript: "\f12c";
$fa-var-subway: "\f239";
$fa-var-suitcase: "\f0f2";
$fa-var-sun-o: "\f185";
$fa-var-superpowers: "\f2dd";
$fa-var-superscript: "\f12b";
$fa-var-support: "\f1cd";
$fa-var-table: "\f0ce";
$fa-var-tablet: "\f10a";
$fa-var-tachometer: "\f0e4";
$fa-var-tag: "\f02b";
$fa-var-tags: "\f02c";
$fa-var-tasks: "\f0ae";
$fa-var-taxi: "\f1ba";
$fa-var-telegram: "\f2c6";
$fa-var-television: "\f26c";
$fa-var-tencent-weibo: "\f1d5";
$fa-var-terminal: "\f120";
$fa-var-text-height: "\f034";
$fa-var-text-width: "\f035";
$fa-var-th: "\f00a";
$fa-var-th-large: "\f009";
$fa-var-th-list: "\f00b";
$fa-var-themeisle: "\f2b2";
$fa-var-thermometer: "\f2c7";
$fa-var-thermometer-0: "\f2cb";
$fa-var-thermometer-1: "\f2ca";
$fa-var-thermometer-2: "\f2c9";
$fa-var-thermometer-3: "\f2c8";
$fa-var-thermometer-4: "\f2c7";
$fa-var-thermometer-empty: "\f2cb";
$fa-var-thermometer-full: "\f2c7";
$fa-var-thermometer-half: "\f2c9";
$fa-var-thermometer-quarter: "\f2ca";
$fa-var-thermometer-three-quarters: "\f2c8";
$fa-var-thumb-tack: "\f08d";
$fa-var-thumbs-down: "\f165";
$fa-var-thumbs-o-down: "\f088";
$fa-var-thumbs-o-up: "\f087";
$fa-var-thumbs-up: "\f164";
$fa-var-ticket: "\f145";
$fa-var-times: "\f00d";
$fa-var-times-circle: "\f057";
$fa-var-times-circle-o: "\f05c";
$fa-var-times-rectangle: "\f2d3";
$fa-var-times-rectangle-o: "\f2d4";
$fa-var-tint: "\f043";
$fa-var-toggle-down: "\f150";
$fa-var-toggle-left: "\f191";
$fa-var-toggle-off: "\f204";
$fa-var-toggle-on: "\f205";
$fa-var-toggle-right: "\f152";
$fa-var-toggle-up: "\f151";
$fa-var-trademark: "\f25c";
$fa-var-train: "\f238";
$fa-var-transgender: "\f224";
$fa-var-transgender-alt: "\f225";
$fa-var-trash: "\f1f8";
$fa-var-trash-o: "\f014";
$fa-var-tree: "\f1bb";
$fa-var-trello: "\f181";
$fa-var-tripadvisor: "\f262";
$fa-var-trophy: "\f091";
$fa-var-truck: "\f0d1";
$fa-var-try: "\f195";
$fa-var-tty: "\f1e4";
$fa-var-tumblr: "\f173";
$fa-var-tumblr-square: "\f174";
$fa-var-turkish-lira: "\f195";
$fa-var-tv: "\f26c";
$fa-var-twitch: "\f1e8";
$fa-var-twitter: "\f099";
$fa-var-twitter-square: "\f081";
$fa-var-umbrella: "\f0e9";
$fa-var-underline: "\f0cd";
$fa-var-undo: "\f0e2";
$fa-var-universal-access: "\f29a";
$fa-var-university: "\f19c";
$fa-var-unlink: "\f127";
$fa-var-unlock: "\f09c";
$fa-var-unlock-alt: "\f13e";
$fa-var-unsorted: "\f0dc";
$fa-var-upload: "\f093";
$fa-var-usb: "\f287";
$fa-var-usd: "\f155";
$fa-var-user: "\f007";
$fa-var-user-circle: "\f2bd";
$fa-var-user-circle-o: "\f2be";
$fa-var-user-md: "\f0f0";
$fa-var-user-o: "\f2c0";
$fa-var-user-plus: "\f234";
$fa-var-user-secret: "\f21b";
$fa-var-user-times: "\f235";
$fa-var-users: "\f0c0";
$fa-var-vcard: "\f2bb";
$fa-var-vcard-o: "\f2bc";
$fa-var-venus: "\f221";
$fa-var-venus-double: "\f226";
$fa-var-venus-mars: "\f228";
$fa-var-viacoin: "\f237";
$fa-var-viadeo: "\f2a9";
$fa-var-viadeo-square: "\f2aa";
$fa-var-video-camera: "\f03d";
$fa-var-vimeo: "\f27d";
$fa-var-vimeo-square: "\f194";
$fa-var-vine: "\f1ca";
$fa-var-vk: "\f189";
$fa-var-volume-control-phone: "\f2a0";
$fa-var-volume-down: "\f027";
$fa-var-volume-off: "\f026";
$fa-var-volume-up: "\f028";
$fa-var-warning: "\f071";
$fa-var-wechat: "\f1d7";
$fa-var-weibo: "\f18a";
$fa-var-weixin: "\f1d7";
$fa-var-whatsapp: "\f232";
$fa-var-wheelchair: "\f193";
$fa-var-wheelchair-alt: "\f29b";
$fa-var-wifi: "\f1eb";
$fa-var-wikipedia-w: "\f266";
$fa-var-window-close: "\f2d3";
$fa-var-window-close-o: "\f2d4";
$fa-var-window-maximize: "\f2d0";
$fa-var-window-minimize: "\f2d1";
$fa-var-window-restore: "\f2d2";
$fa-var-windows: "\f17a";
$fa-var-won: "\f159";
$fa-var-wordpress: "\f19a";
$fa-var-wpbeginner: "\f297";
$fa-var-wpexplorer: "\f2de";
$fa-var-wpforms: "\f298";
$fa-var-wrench: "\f0ad";
$fa-var-xing: "\f168";
$fa-var-xing-square: "\f169";
$fa-var-y-combinator: "\f23b";
$fa-var-y-combinator-square: "\f1d4";
$fa-var-yahoo: "\f19e";
$fa-var-yc: "\f23b";
$fa-var-yc-square: "\f1d4";
$fa-var-yelp: "\f1e9";
$fa-var-yen: "\f157";
$fa-var-yoast: "\f2b1";
$fa-var-youtube: "\f167";
$fa-var-youtube-play: "\f16a";
$fa-var-youtube-square: "\f166";
