// Variables
//
// 各値を定義
//
// Styleguide variables

$color-base-black: #333333;
$color-base-white: #ffffff;
$color-base-gold: #8f8a55;
$color-point-red: #e65036;
$color-base-red: #e40c00;
$color-card-red: #d61f6d;
$color-card-yellow: #c8ce2e;
$color-card-blue: #3794c4;


$gen1: #7b783e;
$gen2: #3b5e66;
$gen3: #6b4c52;

$city1: #cdbc66;
$city2: #762100;
$city3: #8aa0ac;
$city4: #5e4500;
$city5: #7c8a4f;
$city6: #0b3341;

$state1: #c82209;
$state2: #00afc0;
$state3: #55b032;
$state4: #b40081;
$state5: #ffe100;


$breakpoint-xl: 1600px;
$breakpoint-lg: 1280px;
$breakpoint-md: 1024px;
$breakpoint-sm: 769px;
$breakpoint-xs: 480px;