//Layout

#root {
  height: 100%;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  .app {
    position: relative;
    width: 100%;
    height: 100%;
    &.login {
      background: #38454f;
    }
  }
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  .box {
    &.left {
      width: 206px;
      height: 100%;
      padding: 15px 0 0 25px;
      background: #38454f;
      box-sizing: border-box;
      h2 {
        position: relative;
        font-size: 16px;
        font-weight: bold;
        color: #fff;
        &:after {
          content: '';
          position: absolute;
          bottom: -10px;
          left: 0;
          width: 181px;
          height: 1px;
          background: #fff;
        }
      }
      .scrollbar-container {
        height: 100%;
        margin: 20px 0 0;
        ul {
          height: 100%;
          li {
            font-size: 14px;
            line-height: 20px;
            color: #fff;
            &:after {
              content: '';
            }
            &.p {
              &:after {
                background: url('/images/up.png') no-repeat;
                background-size: 12px 12px;
                width: 12px;
                height: 12px;
                margin-left: 4px;
                content: '';
                display: inline-block;
              }
            }
            &.s {
              &:after {
                background: url('/images/stay.png') no-repeat;
                background-size: contain;
                width: 22px;
                height: 7px;
                margin-left: 4px;
                content: '';
                display: inline-block;
              }
            }
            &.m {
              &:after {
                background: url('/images/down.png') no-repeat;
                background-size: 12px 12px;
                width: 12px;
                height: 12px;
                margin-left: 4px;
                content: '';
                display: inline-block;
              }
            }
          }
        }
      }
    }
    &.right {
      width: 100%;
      margin-right: 125px;
      padding: 18px;
      button {
        position: fixed;
        display: block;
        border: none;
        margin: 0;
        padding: 0;
      }
      .btn {
        &_camera {
          bottom: 37px;
          right: 37px;
          //bottom: 20px;
          //left: 20px;
          img {
            width: 73px;
            height: 73px;
          }
        }
        &_buy {
          top: (25px + 56px) * 1;
          right: -30px;
          img {
            width: 153px;
            height: 56px;
          }
        }
        &_sale {
          top: (25px + 56px) * 2;
          right: -30px;
          img {
            width: 153px;
            height: 56px;
          }
        }
        &_car {
          top: (25px + 56px) * 3;
          right: -30px;
          img {
            width: 153px;
            height: 56px;
          }
        }
        &_trade {
          top: (25px + 56px) * 4;
          right: -30px;
          img {
            width: 153px;
            height: 56px;
          }
        }
      }

    }
  }
  .form_login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 200px;
    height: auto;
    text-align: center;
    h1 {
      font-size: 30px;
      font-weight: bold;
      text-align: center;
      line-height: 40px;
      position: absolute;
      display: block;
      width: 300px;
      left: -50px;
      top: -40px;
      color: #fff;
    }
    input {
      width: 200px;
      height: 40px;
      padding: 15px 20px;
      border-radius: 40px;
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #38454f;
      font-size: 20px;
      font-weight: bold;
      width: 200px;
      height: 40px;
      padding: 15px 20px;
      border-radius: 40px;
      background: #fff;
      text-decoration: none;
    }
  }
  .mission {
    width: 100%;
    margin-top: -20px;
    box-sizing: border-box;
    h2 {
      position: relative;
      font-size: 16px;
      font-weight: bold;
      color: #38454f;
      margin: 20px 0 0;
      padding: 0 0 10px;
      display: block;
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: #38454f;
      }
    }
    ul {
      width: 100%;
      li {
        position: relative;
        width: 100%;
        padding: 10px 15px;
        margin: 10px 0 0;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        font-size: 16px;
        color: #000;
        display: flex;
        align-items: center;
        &.city1 { background: $city1};
        &.city2 { background: $city2};
        &.city3 { background: $city3};
        &.city4 { background: $city4};
        &.city5 { background: $city5};
        &.city6 { background: $city6};
        span {
          display: inline-block;
          margin: 0 20px 0 0;
        }
        .box_btn {
          position: absolute;
          right: 12px;
          top: 50%;
          transform: translateY(-50%);
        }
        button {
          font-size: 16px;
          color: #fff;
          background: #acacac;
          position: relative!important;
          display: inline-block!important;
        }
      }
    }
    .complete_list {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      li {
        width: 40px;
        height: 40px;
        border: none;
        margin: 10px 4px;
        &:before {
          width: 35px;
          height: 35px;
          font-size: 40px;
        }
      }
    }
    .trade_list {
      li {
        color: $color-base-black;
        padding: 10px 15px;
        &.self {
          color: $color-base-white;
          background: #E4514D;
        }
        &:before {
          display: none;
        }
      }
    }
    .mission_list {
      li {

      }
    }
    .offer_list {
      li {

      }
    }
  }
}